<ul class="social-links">
	<!-- start social links -->
	<!-- replace the # with your own profile link address -->
	<li><a href="#"><i class="fa fa-twitter"></i></a></li>
	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
	<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
	<li><a href="#"><i class="fa  fa-pinterest"></i></a></li>
	<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
	<li><a href="#"><i class="fa fa-flickr"></i></a></li>
	<li><a href="#"><i class="fa fa-instagram"></i></a></li>
	<li><a href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i></a></li>
	<!-- end social links -->
</ul>