<!-- start widget -->
<div class="widget">
	<h4 class="title">About foreClarity</h4>
	<div class="content">
		I am often asked what my company name means and how I came up with it. The name “foreClarity!” simply means “clarity first”. It arose from asking my self what I most wanted to accomplish in consulting with leaders and from considering what the greatest challenge is to leaders in any age. <br>
		<br>

		<a href="http://www.foreclarity.com/lets-be-clear-about-clarity/">Read more about foreClarity here.</a>
	</div>
</div>
<!-- end widget -->