<!-- start widget -->
<div class="widget">
	<h4 class="title">About Brian</h4>
	<div class="content">
		Brian J. Crall currently offers executive coaching to leaders across a range of industries. Previous experience includes time serving as CEO of CMD Holding, LLC, the holding company for CMD Health, Inc., a health insurance company, and ClubMD, LLC, a series of primary care medical homes; Resource Director for the YMCA of the USA; Personnel Cabinet Secretary, and Deputy Secretary of the Executive Cabinet, Office of the Governor of the Commonwealth of Kentucky; and Director for the Kentucky Retirement System and the Kentucky Deferred Compensation Authority. Additionally, Mr. Crall served as CEO of Progress Printing Company from July 2000 until April 2004, and was the 13th District State Representative in the state of Kentucky from January 1995 until April 2004. Mr. Crall has been active in several civic and charitable organizations, including the YMCA, Habitat for Humanity, the Owensboro Chamber of Commerce, and the Fellowship of Christian Athletes.
	</div>
</div>
<!-- end widget -->