<!-- start widget -->
<div class="widget">
	<h4 class="title">Contact</h4>
	<div class="content">
		You can email Brian at <a href="mailto:brian@foreclarity.com?Subject=Hello%20again" target="_top">brian@foreclarity.com</a>.
	</div>
</div>
<!-- end widget -->